/* ====== FOOTER ====== */

footer {
  margin-top: auto;
  background-color: #474747;
  color: #ffffff;
  flex-shrink: 0; /* Запрещаем футеру сжиматься, если контента много */
  width: 100%;
}
.footer-container {
  display: flex;
  justify-content: space-between; /* Вместо жесткого gap: 180px */
  gap: 20px;
  flex-wrap: wrap; /* Чтобы на мобилках футер не обрезался сбоку */
  padding-top: 50px;
  padding-bottom: 50px;
}

.brand-info {
  display: flex;
  align-items: center;
  gap: 14px;
}
.brand-info img {
  width: 56px;
  height: 56px;
}
.footer-brand {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  max-width: 294px;
}
.footer-brand p {
  line-height: 1.4;
  color: #adb29e;
}
.social-media img {
  width: 35px;
  height: 35px;
}

.footer-nav {
  display: flex;
  gap: 120px;
}

.footer-nav section h3 {
  font-weight: 700;
  margin-bottom: 40px;
}

.brand-info h3 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-style: Italic;
  font-size: 32px;
}
footer img {
  width: 100px;
  height: 100px;
}

footer li a {
  display: block;
  padding: 10px 0px; /* Adds clickable area around the text */
  text-decoration: none;
  color: #dbdfd0;
}

footer li a:hover {
  color: #ffffff;
}

.footer-insta h3 {
  font-weight: 700;
  margin-bottom: 40px;
}
.insta-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
.insta-grid .image-container {
  width: 194px;
  border-radius: 12px;
  overflow: hidden;
}
.insta-grid img {
  width: 100%;
  height: 170px;
  object-fit: cover;
}

.footer-bottom p {
  text-align: center;
  color: #adb29e;
  padding: 30px 0px;
}

/* ====== MEDIA QUERIES ====== */
